@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background: url('./assets/bkgrnd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

/* Header/Footer Styles */

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Cinzel';
  text-shadow: 0px 0px 10px #60fff2;
  margin: 0;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 100;
}

nav {
  display: inline;
}

.nav-active {
  background-color: red;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

li {
  margin: 0 5px 0 5px;
}

/* li:hover {
  color:;
} */

/* Main Styles */

main {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  width: 100vw;
  text-shadow: 3px 3px 3px #000000;
  background-color: rgba(255, 255, 255, 0.171);
  height: 84vh;
}

.section-header {
  font-family: 'Cinzel';
  font-size: 50px;
  text-shadow: 0 0 10px #60fff2;
  margin: 30px 30px 0;
}

/* About Styles */

.about-flex {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  height: 425px;
  width: 425px;
  border: 1px solid #60fff283;
  border-radius: 50%;
  background-image: url('./assets/headshot.jpeg');
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  margin-right: 50px;
}

.about-p {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 15px;
  width: 30vw;
  font-size: 22px;
  font-weight: 400;
  margin-left: 50px;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  text-shadow: 0 0 10px #60fff2;
  padding: 20px 40px;
  max-height: 400px;
  overflow: scroll;
}

/* Portfoilio Styles */

.container {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  display: flex;
  justify-content: center;
  height: 63vh;
  width: 65vw;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  text-shadow: 0 0 10px #60fff2;
  /* padding: 10px; */
  overflow: scroll;
}

.p-port {
  margin: 15px;
}

.img-container {
  margin-bottom: 50px;
}

.rockfit {
  background-image: url('./assets/dashboard-screenshot.png');
  height: 16em;
  width: 30em;
  background-size: cover;
  border: 1px solid #60fff27c;
}

.port-btn {
  margin: 20px;
  color: #ffffff;
}

.crypto {
  background-image: url('./assets/screenshot-crypto-stock.png');
  height: 26em;
  width: 30em;
  background-size: cover;
  border: 1px solid #60fff27c;
}

.html-portfolio {
  background-image: url('./assets/screenshot-deployed-app.png');
  height: 15em;
  width: 30em;
  background-size: cover;
  border: 1px solid #60fff27c;
}

.dashboard {
  background-image: url('./assets/weather-dashboard.png');
  height: 15em;
  width: 30em;
  background-size: cover;
  border: 1px solid #60fff27c;
}

.planner {
  background-image: url('./assets/work-day-scheduler.png');
  height: 15em;
  width: 30em;
  background-size: cover;
  border: 1px solid #60fff27c;
}

.react-portfolio {
  background-image: url('./assets/react-portfolio.png');
  height: 14em;
  width: 30em;
  background-size: cover;
  border: 1px solid #60fff27c;
}

/* Resume Styles */

.pro-header {
  margin-top: 0px;
}

.proficiencies {
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 0;
}

.tech {
  font-size: 15px;
}

.resume-btn {
  margin: 8px 0 0 0;
}

/* Contact Styles */

form {
  text-align: center;
  width: 40vw;
  height: 45vh;
  padding: 10px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  overflow: scroll;
  text-shadow: 0 0 10px #60fff2;
}

.reach-out {
  font-weight: 300;
  margin: 15px 0 0 0;
}

.jc {
  margin: 3px 0 0 0;
}

.name, .email, .message {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 20px 0;
  text-shadow: 0 0 10px #60fff2;
}

input, textarea {
  width: 25vw !important;
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #60fff2;
  padding: 10px;
  color: #3d3d3d !important;
}

textarea {
  margin-right: 10px;
  resize: vertical;
  min-height: 50px;
}

.error {
  font-size: 15px;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: linear-gradient(#000000, #333333);
  color: #ffffffc5;
  text-shadow: 2px 2px 2px #000000;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  border: none;
  border-radius: 5px;
  margin: 25px 0 10px 0;
  padding: 5px 20px;
}

button:hover {
  background: linear-gradient(#333333, #000000);
}

/* Media Queries */

@media only screen and (max-width: 1270px) {
  .portfolio {
    width: 80vw;
  }

  form {
    width: 60vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 950px) {
  .portfolio {
    width: 90vw;
  }
}

@media only screen and (max-width: 890px) {
  .headshot {
    height: 350px;
    width: 350px;
    margin-right: 20px;
  }

  .about-p {
    margin-left: 20px;
  }

  .portfolio {
    width: 100vw;
    border-radius: 0px;
  }

  button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  body{
    overflow-y: scroll;
  }
  
  .headshot {
    height: 320px;
    width: 320px;
    margin-right: 20px;
  }

  .about-p {
    margin-left: 20px;
  }

  .img-container {
    display: flex;
    flex-direction: column;     
  }

  .rockfit {
    height: 11em;
    width: 20em;
    align-self: center;
  }
  
  .port-btn {
    margin: 12px;
    align-self: center;
  }
  
  .crypto {
    height: 13em;
    width: 15em;
    align-self: center;
  }
  
  .html-portfolio {
    height: 11em;
    width: 20em;
    align-self: center;
  }
  
  .dashboard {
    height: 11em;
    width: 20em;
    align-self: center;
  }
  
  .planner {
    height: 11em;
    width: 20em;
    align-self: center;
  }
  
  .react-portfolio {
    height: 10em;
    width: 20em;
    align-self: center;
  }
}

@media only screen and (max-width: 678px) {
  ul {
    font-size: 12px;
  }

  .headshot {
    height: 280px;
    width: 280px;
    margin-right: 20px;
  }

  .about-p {
    margin-left: 20px;
  }

  form {
    width: 70vw;
  }

  .name-date {
    font-size: 8px;
  }
}

@media only screen and (max-width: 747px) {
  .reach-out {
    font-size: 30px;
  }

  .jc {
    font-size: 18px;
  }

  label {
    font-size: 20px;
  }

  input, textarea {
    width: 300px;
  }

  textarea {
    height: 100px;
  }

  ::placeholder {
    font-size: 18px;
  }
}

@media only screen and (max-width: 610px) {
  h1 {
    font-size: 25px;
  }

  .section-header {
    font-size: 40px;
  }

  .about-p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .about-flex {
    display: block;
  }

  .headshot, .about-p {
    border-radius: 0px;
    width: 100vw;
    margin: 0px;
  }

  .headshot {
    border-left: none;
    border-right: none;
    margin: 20px 0 50px 0;
  }

  .about-p {
    height: 16vh;
    max-width: 96.6vw;
    padding: 10px ;
    border-left: none;
    border-right: none;
  }

  form {
    height: 55vh;
  }
}

@media only screen and (max-width: 545px) {
  h1 {
    font-size: 20px;
  }

  li {
    font-size: 10px;
  }

  .proficiencies li {
    font-size: 20px;
  }

  ::placeholder {
    font-size: 15px;
  }

  .rockfit {
    height: 8em;
    width: 15em;
  }
  
  .crypto {
    height: 13em;
    width: 15em;
  }
  
  .html-portfolio {
    height: 8em;
    width: 15em;
  }
  
  .dashboard {
    height: 8em;
    width: 15em;
  }
  
  .planner {
    height: 8em;
    width: 15em;
  }
  
  .react-portfolio {
    height: 7em;
    width: 15em;
  }
}

@media only screen and (max-width: 400px) {
  li {
    font-size: 9px;
  }

  .section-header {
    text-align: center;
  }
}

@media only screen and (max-height: 700px) {
  .headshot {
    height: 30vh;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 390px) {
  .rockfit {
    height: 6em;
    width: 13em;
  }
  
  .crypto {
    height: 12em;
    width: 13em;
    align-self: center;
  }
  
  .html-portfolio {
    height: 6em;
    width: 13em;
  }
  
  .dashboard {
    height: 6em;
    width: 13em;
  }
  
  .planner {
    height: 6em;
    width: 13em;
  }
  
  .react-portfolio {
    height: 6em;
    width: 13em;
  }
}

@media only screen and (max-width: 375px) {
  li {
    font-size: 2vw;
  }
}