@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background: url('./assets/bkgrnd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

/* Header/Footer Styles */

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Cinzel';
  text-shadow: 0px 0px 10px #60fff2;
  margin: 0;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 100;
}

nav {
  display: inline;
}

.nav-active {
  background-color: red;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

li {
  margin: 0 5px 0 5px;
}

/* li:hover {
  color:;
} */

/* Main Styles */

main {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  width: 100vw;
  text-shadow: 3px 3px 3px #000000;
  background-color: rgba(255, 255, 255, 0.171);
  height: 84vh;
}

.section-header {
  font-family: 'Cinzel';
  font-size: 50px;
  text-shadow: 0 0 10px #60fff2;
  margin: 30px 30px 0;
}

/* About Styles */

.about-flex {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  height: 425px;
  width: 425px;
  border: 1px solid #60fff283;
  border-radius: 50%;
  background-image: url('./assets/headshot.jpeg');
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  margin-right: 50px;
}

.about-p {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 15px;
  width: 30vw;
  font-size: 22px;
  font-weight: 400;
  margin-left: 50px;
  -webkit-box-shadow: 0 0 10px #60fff2;
  box-shadow: 0 0 10px #60fff2;
  text-shadow: 0 0 10px #60fff2;
  padding: 20px 40px;
  max-height: 400px;
  overflow: scroll;
}
